# **SWaT Dataset**

**Secure Water Treatment (SWaT)** <br>

Il dataset Secure Water Treatment (SWaT) è un dataset multivariato di serie temporali che contiene dati raccolti da 51 sensori e attuatori in una centrale di trattamento dell'acqua. <br>
Il dataset è stato raccolto nel corso di un periodo di 11 giorni, con 7 giorni di funzionamento normale e 4 giorni di scenari di attacco. 
<br>
I dati sono etichettati in base a comportamenti normali e anomali, e gli scenari di attacco sono stati derivati attraverso modelli di attacco sviluppati dal team di ricerca. <br>
Sono stati lanciati 41 attacchi durante i 4 giorni di scenari di attacco.

Tutte le [informazioni sul dataset al link qui](https://itrust.sutd.edu.sg/itrust-labs_datasets/dataset_info/)<br>
Ho fatto richiesta al link citato nel paper *Deep Learning for Anomaly Detection in Time-Series Data: Review, Analysis, and Guidelines.*

## **Preliminary steps**

In [1]:
import pandas as pd

In [2]:
# Paths of the dataset
PATH='C:\\Users\\c.manganaro\\Desktop\\TESI\\sample\\datasets\\SWaT'
PATH_nv1='C:\\Users\\c.manganaro\\Desktop\\TESI\\sample\\datasets\\SWaT\\SWaT_Dataset_Normal_v1.csv'
PATH_Av0='C:\\Users\\c.manganaro\\Desktop\\TESI\\sample\\datasets\\SWaT\\SWaT_Dataset_Attack_v0.csv'

# Convert the dataset
CONVERT=False

**CONVERT XLSX INTO CSV**

In [3]:
if CONVERT:
    datasets = [
        'SWaT_Dataset_Normal_v0.xlsx',
        'SWaT_Dataset_Normal_v1.xlsx',
        'SWaT_Dataset_Attack_v0.xlsx'
    ]
    for dataset in datasets:
        data_xlsx = pd.read_excel(PATH + '\\' + dataset)
        data_xlsx.to_csv(PATH + '\\' + dataset.replace('.xlsx', '.csv'), index=False)

**SHOW THE DATASET**

In [4]:
normal_DF = pd.read_csv(PATH_nv1,  skiprows=[0])
normal_DF.head()

,Timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,MV201,P201,P202,P203,P204,P205,P206,DPIT301,FIT301,LIT301,MV301,MV302,MV303,MV304,P301,P302,AIT401,AIT402,FIT401,LIT401,P401,P402,P403,P404,UV401,AIT501,AIT502,AIT503,AIT504,FIT501,FIT502,FIT503,FIT504,P501,P502,PIT501,PIT502,PIT503,FIT601,P601,P602,P603,Normal/Attack
0,22/12/2015 4:30:00 PM,0.0,124.3135,1,1,1,251.9226,8.313446,312.7916,0.0,1,1,1,1,1,1,1,2.560983,0.000256,138.5061,1,1,1,1,1,1,0.0,169.2387,0.0,133.8503,1,1,1,1,1,7.44636,175.4166,260.7024,123.3145,0.001538,0.001409,0.001664,0.0,1,1,9.100231,0.0,3.3485,0.000256,1,1,1,Normal
1,22/12/2015 4:30:01 PM,0.0,124.3920,1,1,1,251.9226,8.313446,312.7916,0.0,1,1,1,1,1,1,1,2.560983,0.000256,138.7465,1,1,1,1,1,1,0.0,169.2387,0.0,134.0041,1,1,1,1,1,7.44636,175.4166,260.7024,123.3145,0.001538,0.001409,0.001664,0.0,1,1,9.100231,0.0,3.3485,0.000256,1,1,1,Normal
2,22/12/2015 4:30:02 PM,0.0,124.4705,1,1,1,251.9226,8.313446,312.7916,0.0,1,1,1,1,1,1,1,2.560983,0.000256,138.6263,1,1,1,1,1,1,0.0,169.2387,0.0,134.0041,1,1,1,1,1,7.44636,175.4166,260.7024,123.3145,0.001538,0.001409,0.001664,0.0,1,1,9.100231,0.0,3.3485,0.000256,1,1,1,Normal
3,22/12/2015 4:30:03 PM,0.0,124.6668,1,1,1,251.9226,8.313446,312.7916,0.0,1,1,1,1,1,1,1,2.560983,0.000256,138.7064,1,1,1,1,1,1,0.0,169.2387,0.0,134.1195,1,1,1,1,1,7.44636,175.4166,260.7024,123.3145,0.001538,0.001409,0.001664,0.0,1,1,9.100231,0.0,3.3485,0.000256,1,1,1,Normal
4,22/12/2015 4:30:04 PM,0.0,124.5098,1,1,1,251.9226,8.313446,312.7916,0.0,1,1,1,1,1,1,1,2.560983,0.000256,138.9067,1,1,1,1,1,1,0.0,169.2387,0.0,134.1964,1,1,1,1,1,7.44636,175.4166,260.7024,123.3145,0.001538,0.001409,0.001664,0.0,1,1,9.100231,0.0,3.3485,0.000256,1,1,1,Normal

In [5]:
attack_DF = pd.read_csv(PATH_Av0,  skiprows=[0])
attack_DF.head()

,Timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,MV201,P201,P202,P203,P204,P205,P206,DPIT301,FIT301,LIT301,MV301,MV302,MV303,MV304,P301,P302,AIT401,AIT402,FIT401,LIT401,P401,P402,P403,P404,UV401,AIT501,AIT502,AIT503,AIT504,FIT501,FIT502,FIT503,FIT504,P501,P502,PIT501,PIT502,PIT503,FIT601,P601,P602,P603,Normal/Attack
0,28/12/2015 10:00:00 AM,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,2,1,1,2,1,2,1,19.74838,2.206835,956.1651,1,2,1,1,1,2,148.808,156.0882,1.713517,942.0662,1,2,1,1,2,7.878621,145.1166,264.5475,12.03538,1.723789,1.279621,0.735269,0.307786,2,1,250.8652,1.649953,189.5988,0.000128,1,1,1,Normal
1,28/12/2015 10:00:01 AM,2.446274,522.8860,2,2,1,262.0161,8.396437,328.6337,2.445391,2,1,1,2,1,2,1,19.74838,2.208244,956.1651,1,2,1,1,1,2,148.808,156.0882,1.715952,942.0277,1,2,1,1,2,7.878621,145.1166,264.5475,12.03538,1.723789,1.297554,0.735269,0.307786,2,1,250.8652,1.649953,189.6789,0.000128,1,1,1,Normal
2,28/12/2015 10:00:02 AM,2.489191,522.8467,2,2,1,262.0161,8.394514,328.6337,2.442316,2,1,1,2,1,2,1,19.69076,2.208628,956.4855,1,2,1,1,1,2,148.808,156.0882,1.715952,941.8739,1,2,1,1,2,7.878621,145.1166,264.5475,12.03538,1.723404,1.293967,0.735269,0.308619,2,1,250.8812,1.649953,189.6789,0.000128,1,1,1,Normal
3,28/12/2015 10:00:03 AM,2.534350,522.9645,2,2,1,262.0161,8.394514,328.6337,2.442316,2,1,1,2,1,2,1,19.69076,2.208628,956.8060,1,2,1,1,1,2,148.808,156.0882,1.714670,941.7970,1,2,1,1,2,7.878621,145.0141,264.5475,12.03538,1.723404,1.281158,0.735269,0.308619,2,1,250.8812,1.649953,189.6148,0.000128,1,1,1,Normal
4,28/12/2015 10:00:04 AM,2.569260,523.4748,2,2,1,262.0161,8.394514,328.6337,2.443085,2,1,1,2,1,2,1,19.69076,2.208628,957.0864,1,2,1,1,1,2,148.808,156.0882,1.714670,942.2200,1,2,1,1,2,7.878621,144.8859,264.5475,12.03538,1.723404,1.281158,0.735269,0.308619,2,1,250.8812,1.649953,189.5027,0.000128,1,1,1,Normal

In [6]:
attack_DF.rename(columns={'Normal/Attack': 'Machine_Status'}, inplace=True)
normal_DF.rename(columns={'Normal/Attack': 'Machine_Status'}, inplace=True)

In [7]:
attack_DF.Machine_Status.unique()

array(['Normal', 'Attack', 'A ttack'], dtype=object)

In [8]:
normal_DF.Machine_Status.unique()

array(['Normal'], dtype=object)

In [9]:
attack_DF['Machine_Status'].replace({'A ttack': 'Attack'}, inplace=True)

**CONCATENATE THE DATASETS**

In [10]:
attack_DF.columns = attack_DF.columns.str.strip()
normal_DF.columns = normal_DF.columns.str.strip()

df = pd.concat([attack_DF, normal_DF], axis=0)
df.name = 'df'
print("Attack data size:", attack_DF.shape)
print("Normal data size:", normal_DF.shape)
print("Combined data size:", df.shape)

Attack data size: (449919, 53)
Normal data size: (495000, 53)
Combined data size: (944919, 53)

## [**PreProcessing steps**](https://github.com/cbhua/swat-preprocess/tree/master)

###  **0. Print Info**

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 944919 entries, 0 to 494999
Data columns (total 53 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Timestamp       944919 non-null  object
 1   FIT101          944919 non-null  float64
 2   LIT101          944919 non-null  float64
 3   MV101           944919 non-null  int64
 4   P101            944919 non-null  int64
 5   P102            944919 non-null  int64
 6   AIT201          944919 non-null  float64
 7   AIT202          944919 non-null  float64
 8   AIT203          944919 non-null  float64
 9   FIT201          944919 non-null  float64
 10  MV201           944919 non-null  int64
 11  P201            944919 non-null  int64
 12  P202            944919 non-null  int64
 13  P203            944919 non-null  int64
 14  P204            944919 non-null  int64
 15  P205            944919 non-null  int64
 16  P206            944919 non-null  int64
 17  DPIT301         944919 non-null  float64
 18  FIT301          944919 non-null  float64
 19  LIT301          944919 non-null  float64
 20  MV301           944919 non-null  int64
 21  MV302           944919 non-null  int64
 22  MV303           944919 non-null  int64
 23  MV304           944919 non-null  int64
 24  P301            944919 non-null  int64
 25  P302            944919 non-null  int64
 26  AIT401          944919 non-null  float64
 27  AIT402          944919 non-null  float64
 28  FIT401          944919 non-null  float64
 29  LIT401          944919 non-null  float64
 30  P401            944919 non-null  int64
 31  P402            944919 non-null  int64
 32  P403            944919 non-null  int64
 33  P404            944919 non-null  int64
 34  UV401           944919 non-null  int64
 35  AIT501          944919 non-null  float64
 36  AIT502          944919 non-null  float64
 37  AIT503          944919 non-null  float64
 38  AIT504          944919 non-null  float64
 39  FIT501          944919 non-null  float64
 40  FIT502          944919 non-null  float64
 41  FIT503          944919 non-null  float64
 42  FIT504          944919 non-null  float64
 43  P501            944919 non-null  int64
 44  P502            944919 non-null  int64
 45  PIT501          944919 non-null  float64
 46  PIT502          944919 non-null  float64
 47  PIT503          944919 non-null  float64
 48  FIT601          944919 non-null  float64
 49  P601            944919 non-null  int64
 50  P602            944919 non-null  int64
 51  P603            944919 non-null  int64
 52  Machine_Status  944919 non-null  object
dtypes: float64(25), int64(26), object(2)
memory usage: 389.3+ MB

### **1. Check missing values and drop_duplicates**

In [12]:
def check(df):
    print('\n')
    if df.duplicated().any():
        df.drop_duplicates(inplace=True)
        print('Duplicates removed from', df.name)
    else:
        print('No duplicates found in', df.name)
    
    if df.isna().sum().any():
        print('Null values found in', df.name)
    else:
        print('No null values found in', df.name)

In [13]:
check(df)

No duplicates found in df
No null values found in df

### **2. Convert the timestamp in datetime format**

In [14]:
#it takes 3 minutes to run
df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='mixed')

### **3. Drop features with only one distinct value**

In [15]:
df.shape

(944919, 53)

In [16]:
for col in df.columns:
    if len(df[col].unique()) == 1:
        print("features dropped:", col)
        df.drop(col,inplace=True,axis=1)

features dropped: P202
features dropped: P401
features dropped: P404
features dropped: P502
features dropped: P601
features dropped: P603

In [17]:
df.shape

(944919, 47)

### **4. Divide features into numerical and categorical**

In [18]:
target_column = df['Machine_Status']
df_tonormalize = df.drop(['Machine_Status', 'Timestamp'],axis=1)

In [19]:
# returns the number of unique values for each column in the DataFrame
df_tonormalize.nunique()

FIT101      3953
LIT101     11457
MV101          3
P101           2
P102           2
AIT201      2331
AIT202      1724
AIT203      6868
FIT201      4983
MV201          3
P201           2
P203           2
P204           2
P205           2
P206           2
DPIT301     5180
FIT301      8281
LIT301     11176
MV301          3
MV302          3
MV303          3
MV304          3
P301           2
P302           2
AIT401        37
AIT402      4127
FIT401       920
LIT401     14444
P402           2
P403           2
UV401          2
AIT501      1680
AIT502      3469
AIT503      1123
AIT504       492
FIT501       986
FIT502      1518
FIT503       468
FIT504       292
P501           2
PIT501      1365
PIT502       109
PIT503      1280
FIT601      6054
P602           2
dtype: int64

In [20]:
cat_col = []
num_col = []

for column in df_tonormalize.columns:
    unique_values = df_tonormalize[column].nunique()
    if unique_values > 10:
        num_col.append(column)
    else:
        cat_col.append(column)

**categorical features**

In [21]:
print(cat_col.__len__())
print(cat_col)

20
['MV101', 'P101', 'P102', 'MV201', 'P201', 'P203', 'P204', 'P205', 'P206', 'MV301', 'MV302', 'MV303', 'MV304', 'P301', 'P302', 'P402', 'P403', 'UV401', 'P501', 'P602']

**numerical features**

In [22]:
print(num_col.__len__())
print(num_col)

25
['FIT101', 'LIT101', 'AIT201', 'AIT202', 'AIT203', 'FIT201', 'DPIT301', 'FIT301', 'LIT301', 'AIT401', 'AIT402', 'FIT401', 'LIT401', 'AIT501', 'AIT502', 'AIT503', 'AIT504', 'FIT501', 'FIT502', 'FIT503', 'FIT504', 'PIT501', 'PIT502', 'PIT503', 'FIT601']

### **4. Normalization**

In [23]:
# Scale numerical columns
min_max_scaler = MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(df_tonormalize[num_col])

df_num = pd.DataFrame(x_scaled, index=df_tonormalize.index, columns=num_col)
df_normalized = pd.concat([df_num, df_tonormalize.drop(columns=num_col)], axis=1)
df_normalized.head()

,FIT101,LIT101,AIT201,AIT202,AIT203,FIT201,DPIT301,FIT301,LIT301,AIT401,AIT402,FIT401,LIT401,AIT501,AIT502,AIT503,AIT504,FIT501,FIT502,FIT503,FIT504,PIT501,PIT502,PIT503,FIT601,MV101,P101,P102,MV201,P201,P203,P204,P205,P206,MV301,MV302,MV303,MV304,P301,P302,P402,P403,UV401,P501,P602
0,0.879322,0.500023,0.899417,0.801947,0.153462,0.865044,0.438853,0.928726,0.770793,0.999677,0.079038,0.980350,0.929175,0.521646,0.106829,0.375534,0.010781,0.980677,0.939528,0.962783,0.970903,0.946125,0.449782,0.944116,0.000071,2,2,1,2,1,2,1,2,1,1,2,1,1,1,2,2,1,2,2,1
1,0.886285,0.500072,0.899417,0.801947,0.153462,0.865044,0.438853,0.929319,0.770793,0.999677,0.079038,0.981743,0.929131,0.521646,0.106829,0.375534,0.010781,0.980677,0.952695,0.962783,0.970903,0.946125,0.449782,0.944521,0.000071,2,2,1,2,1,2,1,2,1,1,2,1,1,1,2,2,1,2,2,1
2,0.901833,0.500023,0.899417,0.801304,0.153462,0.863956,0.437572,0.929480,0.771093,0.999677,0.079038,0.981743,0.928955,0.521646,0.106829,0.375534,0.010781,0.980458,0.950061,0.962783,0.973530,0.946188,0.449782,0.944521,0.000071,2,2,1,2,1,2,1,2,1,1,2,1,1,1,2,2,1,2,2,1
3,0.918195,0.500170,0.899417,0.801304,0.153462,0.863956,0.437572,0.929480,0.771393,0.999677,0.079038,0.981010,0.928867,0.521646,0.106112,0.375534,0.010781,0.980458,0.940656,0.962783,0.973530,0.946188,0.449782,0.944197,0.000071,2,2,1,2,1,2,1,2,1,1,2,1,1,1,2,2,1,2,2,1
4,0.930842,0.500804,0.899417,0.801304,0.153462,0.864228,0.437572,0.929480,0.771655,0.999677,0.079038,0.981010,0.929351,0.521646,0.105216,0.375534,0.010781,0.980458,0.940656,0.962783,0.973530,0.946188,0.449782,0.943629,0.000071,2,2,1,2,1,2,1,2,1,1,2,1,1,1,2,2,1,2,2,1

In [25]:
# Add the Timestamp and Normal/Attack columns back to the normalized DataFrame
df_normalized.insert(0, "Machine_Status", df['Machine_Status'])
df_normalized.insert(0, 'Timestamp', df['Timestamp'])

df_normalized.head()

,Timestamp,Machine_Status,FIT101,LIT101,AIT201,AIT202,AIT203,FIT201,DPIT301,FIT301,LIT301,AIT401,AIT402,FIT401,LIT401,AIT501,AIT502,AIT503,AIT504,FIT501,FIT502,FIT503,FIT504,PIT501,PIT502,PIT503,FIT601,MV101,P101,P102,MV201,P201,P203,P204,P205,P206,MV301,MV302,MV303,MV304,P301,P302,P402,P403,UV401,P501,P602
0,2015-12-28 10:00:00,Normal,0.879322,0.500023,0.899417,0.801947,0.153462,0.865044,0.438853,0.928726,0.770793,0.999677,0.079038,0.980350,0.929175,0.521646,0.106829,0.375534,0.010781,0.980677,0.939528,0.962783,0.970903,0.946125,0.449782,0.944116,0.000071,2,2,1,2,1,2,1,2,1,1,2,1,1,1,2,2,1,2,2,1
1,2015-12-28 10:00:01,Normal,0.886285,0.500072,0.899417,0.801947,0.153462,0.865044,0.438853,0.929319,0.770793,0.999677,0.079038,0.981743,0.929131,0.521646,0.106829,0.375534,0.010781,0.980677,0.952695,0.962783,0.970903,0.946125,0.449782,0.944521,0.000071,2,2,1,2,1,2,1,2,1,1,2,1,1,1,2,2,1,2,2,1
2,2015-12-28 10:00:02,Normal,0.901833,0.500023,0.899417,0.801304,0.153462,0.863956,0.437572,0.929480,0.771093,0.999677,0.079038,0.981743,0.928955,0.521646,0.106829,0.375534,0.010781,0.980458,0.950061,0.962783,0.973530,0.946188,0.449782,0.944521,0.000071,2,2,1,2,1,2,1,2,1,1,2,1,1,1,2,2,1,2,2,1
3,2015-12-28 10:00:03,Normal,0.918195,0.500170,0.899417,0.801304,0.153462,0.863956,0.437572,0.929480,0.771393,0.999677,0.079038,0.981010,0.928867,0.521646,0.106112,0.375534,0.010781,0.980458,0.940656,0.962783,0.973530,0.946188,0.449782,0.944197,0.000071,2,2,1,2,1,2,1,2,1,1,2,1,1,1,2,2,1,2,2,1
4,2015-12-28 10:00:04,Normal,0.930842,0.500804,0.899417,0.801304,0.153462,0.864228,0.437572,0.929480,0.771655,0.999677,0.079038,0.981010,0.929351,0.521646,0.105216,0.375534,0.010781,0.980458,0.940656,0.962783,0.973530,0.946188,0.449782,0.943629,0.000071,2,2,1,2,1,2,1,2,1,1,2,1,1,1,2,2,1,2,2,1

### **Saving in a new csv**

In [44]:
PATH_norm="C:\\Users\\c.manganaro\\Desktop\\TESI\\sample\\datasets\\SWaT\\normalized"
df_normalized.to_csv(PATH_norm+'\\normalized.csv', index=False)